body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 3rem;
}

nav,
.nav {
  flex-grow: 1;
  border-bottom: .2rem solid #202020;
}

main,
.main {
  flex-grow: 50;
}

footer,
.footer {
  flex-grow: 1;
}